.finder-page {
  display: none;

  &.active {
    display: block;
  }

  .subtitle {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .game-field {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    z-index: 2;

    .square {
      width: 50px;
      height: 50px;
      border: 2px $color-light solid;
      cursor: pointer;
    }

    .square.clicked {
      background-color: $color-path;
    }

    .square.clicked.start {
      background-color: $color-path-shortest;
    }

    .square.clicked.end {
      background-color: $color-path-end;
    }

    .square.neighbour {
      background-color: green;
      opacity: 0.5;
    }

    .square.shortest {
      background-color: $color-path-shortest;
    }
  }

  .btn {
    position: absolute;
    bottom: -400px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    z-index: 2;

    button {
      padding: 20px 40px;
      text-transform: uppercase;
      font-family: $font-family-main;
      font-size: 24px;
      background-color: $color-path;
      color: $color-light;
      border: none;
      cursor: pointer;
    }
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 575px) {
  .finder-page {
    .deskop {
      display: none;
    }

    .mobile {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 4;

      h3 {
        font-size: 24px;
        text-align: center;
      }
    }
  }
}

@media (max-height: 415px) {
  .finder-page {
    .deskop {
      display: none;
    }

    .mobile {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      z-index: 4;

      h3 {
        font-size: 24px;
        text-align: center;
      }
    }
  }
}
