.finder-page {
  display: none;

  &.active {
    display: block;
  }

  .subtitle {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .game-field {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    z-index: 2;

    .square {
      width: 50px;
      height: 50px;
      border: 2px $color-light solid;
      cursor: pointer;
    }

    .square.clicked {
      background-color: $color-path;
    }

    .square.clicked.start {
      background-color: green;
    }

    .square.clicked.end {
      background-color: red;
    }

    .square.neighbour {
      background-color: green;
      opacity: 0.5;
    }

    .square.shortest {
      background-color: aqua;
    }
  }

  .btn {
    position: absolute;
    bottom: -400px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    z-index: 2;

    button {
      padding: 20px 40px;
      text-transform: uppercase;
      font-family: $font-family-main;
      font-size: 24px;
      background-color: $color-path;
      color: $color-light;
      border: none;
      cursor: pointer;
    }
  }
}

.modal-wrap {
  display: none;
}

.modal-wrap.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
}

.modal-wrap.active .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  border: 2px solid black;
  background-color: white;
}

.modal-heading h3 {
  text-align: center;
  color: black;
  padding: 5vh;
}

.modal-text {
  color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
}

span {
  position: absolute;
  top: 2vh;
  right: 3vh;
  color: black;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}
