.about-page {
  display: none;

  &.active {
    display: block;
  }

  .image-1 {
    position: absolute;
    bottom: -150px;
    left: 10%;
    width: 40%;
    height: 500px;
    background-image: url('/images/1.jpg');
    background-position: center;
    background-size: cover;
    z-index: 2;

    .image-text-1 {
      position: absolute;
      top: 60%;
      right: 0;
      transform: translateX(50%);
    }
  }

  .image-2 {
    position: absolute;
    bottom: -750px;
    right: 10%;
    width: 60%;
    height: 550px;
    background-image: url('/images/2.jpg');
    background-position: center;
    background-size: cover;
    z-index: 2;

    .image-text-2 {
      position: absolute;
      bottom: 60%;
      left: 0;
      transform: translateX(-50%);
    }
  }
}
