h1 {
  font-size: 100px;
  font-weight: $font-black;
  text-transform: uppercase;
  letter-spacing: $title-letter-spacing;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: $subtitle-letter-spacing;
}

h3 {
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 5px;
  
}

p {

  font-size: 24px;
  letter-spacing: 5px;
}
