$color-bacground: #131313;
$color-light: #fff;
$color-path: #c24e00;
$color-path-shortest: #2ecc71;
$color-path-end: #e74c3c;
$font-family-main: 'Source Sans 3', sans-serif;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$title-letter-spacing: 60px;
$subtitle-letter-spacing: 15px;
